---
export const prerender = false;

import Layout from "../../../layouts/Layout.astro";
import { previewClient } from "../../../libs/newt";
import type { Activity } from "../../../libs/newt";

const { postId } = Astro.params;
if (!postId) {
  return new Response(null, {
    status: 404,
    statusText: "指定された記事は見つかりません。",
  });
}

const content = await previewClient.getContent<Activity>({
  appUid: import.meta.env.NEWT_APP_UID,
  modelUid: "activity",
  contentId: postId,
});
---

<Layout title="hoge">
  <main>
    <div class="foobar">
      <article set:html={content.body} />
    </div>
  </main>
</Layout>
